* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 17px;
}

.search-input-text {
  width: 350px;
  height: 40px;
  padding-left: 20px;
  border: 1px solid black;
}

.search-form {
  margin-left: 40px;
  max-width: 40%;
  border: none;
}

.search-input2 {
  border: none;
}

.search-input-group {
}

.input-group {
  max-width: 30%;
}
.search-btn {
  width: 80px;
  height: 40px;
  border: none;
  background-color: rgb(110, 55, 55);
  cursor: pointer;
}

.search-big-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.found-text {
  color: red;
  font-size: 20px;
}

.non-found-text {
  color: red;
  font-size: 20px;
}

.welcome-search-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  padding-top: 20px;
}

.welcome-div {
  padding-top: 10px;
  width: 50%;
  padding-left: 10px;
}

.welcome-text {
  width: 400px;
  font-size: 13px;
  text-align: center;
}

.non-found-text {
  padding-left: 40px;
}

.search-result-div {
}

.searched-product {
  max-width: 100%;
}
