.categoryheader{
  text-align: center;
  padding: 2rem 0;
  font-size: 2.5rem;
  color: rgb(75, 74, 73);
  font-weight: bolder;
}
.categorycontent{
  display: flex;
  padding: 0 2rem;
  justify-content: space-around;
  text-align: center;
}

.titel{
  padding-top: 1rem;
  font-weight: 400;
}